.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: start;
}

.grid > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  align-items: flex-start;
  text-align: left;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
