.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(23rem, auto);
  gap: 2rem;
  align-items: center;
  margin-bottom: 3rem;
}

.grid > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  align-items: flex-start;
  text-align: left;
  height: 100%;
}

.profileImg {
  width: 100%;
  max-width: 350px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  margin-top: -2rem;
}

.highlightedText {
  color: var(--text-color);
  font-weight: 600;
  font-family: 20px;
  margin: 0 0.25rem;
  border-radius: 0.2rem;
  background-color: var(--primary-color-bright);
}

.subheadline {
  font-size: 16px;
  color: var(--text-color);
  max-width: 768px;
}

@media (max-width: 992px) {
  .profileImg {
    width: 50%;
    order: -1;
    margin-top: -3rem;
  }

  .grid > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    align-items: center;
    text-align: center;
    height: 100%;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(auto, auto);
    margin-bottom: 1rem;
  }
}
