.section {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  padding: var(--padding-md) var(--padding-sm);
}

.content {
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2.5rem;
}

@media (max-width: 992px) {
  .section {
    padding: 48px 16px;
  }
}
